.card {
  max-width: 413px;
  position: relative;
  cursor: pointer;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__like-button_active {
  background-image: url(../images/OfficialLikeDefault.svg);
  opacity: 1;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__title {
  color: #212121;
  width: 500px;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 3px;
}

.card__delete-button {
  background-image: url(../images/Trash\ Default.svg);
  padding-top: 10px;
  width: 32px;
  height: 32px;
  margin-left: 371px;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-size: contain;
  position: absolute;
  top: 10px;
}
.card__delete-button:hover {
  background-image: url(../images/Trash\ Hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    max-width: 288px;
    font-size: 16px;
    line-height: 100%;
  }

  .card__delete-button {
    left: -130px;
  }
}
