.card {
  max-width: 413px;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.card__like-btn:hover{
  cursor: pointer;
}

.card__title {
  font-family: "PoppinsRegular", Arial, Helvetica, sans-serif;
  color: #212121;
  width: 500px;
  font-size: 20px;
  line-height: 130%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    max-width: 288px;
    font-size: 16px;
    line-height: 100%;
  }
}
