.modal {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(87, 87, 87, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: white;
  width: 730px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  /* justify-content: center; */
  /* flex-direction: column; */
}
.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  padding-bottom: 8px;
  border-radius: 8px;
}
.modal__image-container {
  position: absolute;
  max-width: 80vw;
  max-height: 80vh;
  width: fit-content;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../images/grayx.svg);
  opacity: 40%;
  right: 38px;
  top: 36px;
}
.modal__close-btn:hover {
  opacity: 100%;
}
.modal__close-btn_type_preview {
  background-image: url(../images/white\ close\ btn.svg);
  top: -1px;
  right: -50px;
  opacity: 100%;
  cursor: pointer;
}

.modal__close-btn_type_preview:hover {
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}
.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.modal__label {
  color: #5c5b5b;
  margin-bottom: 32px;
}
.modal__input {
  display: block;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  margin: 8px 0 0;
  box-sizing: border-box;
  font-size: 20px;
}
.modal__input::placeholder {
  color: rgb(209, 206, 206);
}
.modal__error {
  color: red;
  margin-top: -27px;
  margin-bottom: 21px;
}
.modal__submit-btn {
  cursor: pointer;
  background-image: url(../images/SVG\ SAVEEEE.svg);
  background-repeat: no-repeat;
  height: 52px;
  width: 156px;
  border: none;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  border-radius: 8px;
  width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .modal {
    background-color: rgb(0 0 0 / 81%);
  }
  .modal__container {
    width: 300px;
    padding: 12px;
    box-sizing: border-box;
    padding-top: 24px;
  }
  .modal__caption {
    height: fit-content;
  }

  .modal__image {
    padding-bottom: 12px;
  }

  .modal__close-btn {
    top: 20px;
    right: 7px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__form {
    width: 100%;
  }

  .modal__submit-btn {
    width: 276px;
    background-image: url(../images/Button\ Large.svg);
  }
  .modal__input {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 12px;
    padding-left: 12px;
  }
  .modal__close-btn_type_preview {
    top: -41px;
    right: 4px;
    opacity: 100%;
  }

  .modal__close-btn_type_preview:hover {
  }
}
